body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Archivo Narrow', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/background5.jpg"); 
  background-color: #FFFDD0
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


